* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.curd {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background-color: #000;
    /* transform: scale(1.1); */
}

.price input {
    width: 20%;
}

#total {
    background-color: #a00d02;
    padding: 4px 2px;
    border-radius: 4px;
}

#total::before {
    content: "Total: ";
}

button {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #1f13cc;
    border-radius: 20px;
    transition: all 0.5s;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #0f0785;
    letter-spacing: 2px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 40%;
}

#deleteAll {
    margin: 20px 0;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}